{% extends "AppJuridica/base.html" %}

{% load static %}


{% block main  %}
<section id="team">
    <div class="container">
        <div class="row">
            <div class="title">
                <h2>Nuesto Equipo de Trabajo</h2>
                <p>Contamos con profesionales de 1ra categoria <br> para ayudarte en las areas que necesites</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s">
                    <img src="img/team-img1.jpg" alt="">
                    <div class="team-overlay">
                        <h3>Laureano <span>Ingeniero en Sistemas</span></h3>
                        <span class="icon"><i class="ion-quote"></i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-4 col-xs-6">
                <div class="block wow fadeInLeft" data-wow-delay=".6s">
                    <img src="img/team-img2.jpg" alt="">
                    <div class="team-overlay">
                        <h3>Leopoldo <span>Abogado Civil</span></h3>
                        <span class="icon"><i class="ion-quote"></i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-4 col-xs-6">
                <div class="block wow fadeInLeft" data-wow-delay=".9s">
                    <img src="img/team-img3.jpg" alt="">
                    <div class="team-overlay">
                        <h3>Matias <span>Abogado Laboral</span></h3>
                        <span class="icon"><i class="ion-quote"></i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main  %}